.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 500px;
  box-shadow: 5px 1px 5px rgb(0 0 0 / 12%), 0 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
  margin-bottom: 30px;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-radius: 50%;
  width: 250px;
  object-fit: cover;
  border: 3px solid rgb(213, 204, 204);
}

.name {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.tag,
.location {
  color: grey;
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.stats {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #e4e2e2;
  width: 100%;
}

.stats_item {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 33%;
  border: 1px solid rgb(192, 189, 189);
}

.label {
  display: block;
  font-size: 20px;
  text-align: center;
}

.quantity {
  margin-top: 10px;
  display: block;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}
